<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Kampra AI</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="container card">
    <h1>Kampra AI</h1>
    <p class="subtitle"> AI Conversational Partner</p>




  <select id="voice">
  <option value="en-US-natalie">Natalie (US)</option>
  <option value="en-IN-neerja">Neerja (India)</option>
  <option value="en-GB-william">William (UK)</option>
  </select>



  

    <div class="mic-area">
      <button id="recordBtn" class="mic-btn" aria-label="Record">
        <span class="mic-icon"><img src="/static/mic.png" alt="mic"></span>
      </button>
      <div class="status-dot" id="statusDot"></div>
      <p id="status">Ready</p>
    </div>

    <div id="chatBox" class="chat-box"></div>

    <!-- hidden player: audio auto-plays -->
    <audio id="responseAudio" style="display:none;"></audio>
  </div>
  
<script src="/static/script.js"></script>

</body>
</html>


